/*General text styling*/
.whiteText {
  color: white;
}

.openSans {
  font-family: 'Open Sans', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.extraSpacing {
  letter-spacing: 0.05em;
}

.verticalCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #248f24;
}

a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.headline {
  position: relative;
}

.headline:after {
  content:' ';
  position: absolute;
  top:100%;
  left:50%;
  width: 100px;
  border:2px solid #33cc33;
  border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  transform:translateX(-50%);
}

.bigP {
  font-size: 1.1em;
}

.limeText {
  color: #33cc33;
}

.blackText {
  color: black;
}

/*=======================*/

/*Landing page */
#landingPageBackground {
  background: url('../img/dark_skyline_cut.jpg') -25px -50px;
  position: relative;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 0;
  background-size: 100% calc(100% + 50px);
  bottom: 0;
}

#name1 {
  background-color: inherit;
  z-index: 1;
  font-size: 6rem;
  padding: 0px;
  display: none;
  margin-bottom: -5px;
  -webkit-animation-delay: .3s;
  -moz-animation-duration: .3s;
  /*border: 10px solid white;*/
}

#name2 {
  color: #33cc33;
  z-index: 1;
  font-size: 6rem;
  padding: 0px;
  display: none;
  margin-bottom: -5px;
  animation-delay: 1s;
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.1s;
}

#photoCredit {
  font-size: 1.5rem;
  position:relative;
  top: 95%;
}

/*About Section*/
.about {
  position: relative;
  z-index: 1;
  padding-top: 7em;
	padding-bottom: 7em;
	width: 100%;
  background-color: #ddd;
	/*background: linear-gradient(to right bottom, #aaa 50%, #888 50%);*/
}

#aboutText {
  font-size: 3.5em;
}

.firstAbout {
  margin-top: 15px;
}

.me {
	border-radius: 50%;
	width: 200px;
	box-shadow: 1px 2px 1px 1px #555;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Raleway";
  font-weight: bold;
  color: black;
  font-size: 12px;
  background: #33cc33;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  letter-spacing: 0.08em;
  box-shadow: 0px 1px 0px 0px #555;
  margin-top: -15px;
}

.btn:hover {
  background: #22bb22;
  text-decoration: none;
}

/*=====================*/

/*Breakpoints*/
/*@media (max-width: 440px){
  #name1, #name2 {
    margin-left: 15px;
    font-size: 90px;
  }
  #underName {
    margin-top: 30px;
    margin-left: 15px;
    font-size: 25px;
  }
  #photoCredit {
    font-size: 500px;
  }
}*/
