/*General text styling*/
.whiteText {
  color: white;
}

.openSans {
  font-family: 'Open Sans', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.extraSpacing {
  letter-spacing: 0.05em;
}

.verticalCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

a {
  text-decoration: none;
  color: #33cc33;
}

a:hover {
  text-decoration: none;
  color: #248f24;
}

a:visited {
  text-decoration: none;
  color: #33cc33;
}

a:focus {
  text-decoration: none;
}
/*=======================*/

/*Landing page */
#landingPageBackground {
  background: url('../img/dark_skyline_cut.jpg') -25px -50px;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 0;
  background-size: 100% calc(100% + 50px);
}

#name1 {
  background-color: inherit;
  z-index: 1;
  font-size: 6rem;
  padding: 0px;
  display: none;
  margin-bottom: -5px;
  -webkit-animation-delay: 0s;
  -moz-animation-duration: 0s;
  /*border: 10px solid white;*/
}

#name2 {
  color: #33cc33;
  z-index: 1;
  font-size: 6rem;
  padding: 0px;
  display: none;
  margin-bottom: -5px;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

#photoCredit {
  font-size: 1.5rem;
  position:relative;
  top: 95vh;
}
/*=====================*/

/*Breakpoints*/
/*@media (max-width: 440px){
  #name1, #name2 {
    margin-left: 15px;
    font-size: 90px;
  }
  #underName {
    margin-top: 30px;
    margin-left: 15px;
    font-size: 25px;
  }
  #photoCredit {
    font-size: 500px;
  }
}*/
